body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

#add-expense {
    padding: 20px;
    margin: 20px 0;
    background-color: lightblue;
}

#your-expenses {
    padding: 20px;
    margin: 20px 0;
    background-color: lightgreen;
}

.placeholder {
    font-style: italic;
}